= simple_form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .grid.min-h-screen.place-items-center.p-12
    .field
      = f.input :title
    .field
      = f.input :tags, value: @post.tag_list
    .field
      = f.hidden_field :user_id, type: :hidden, value: current_user&.id
    .field
      = f.input :content, input_html: { rows: 10, cols: 40}
    .actions
      = f.submit 'Save'
