%p#notice= notice

.container.text-center
  %p.mx-auto
    %h2.text-xl
      = @post.title

  %p.color-gray-500= "#{@post.tag_list}"
  
.container.max-w-3xl.mx-auto
  .rounded.bg-gray-200.px-4.py-8.border-purple-500.border-2
    = markdown @post.content.to_s

  .mt-10.px-10
    = link_to 'Back', posts_path, class: "rounded bg-gray-200 text-gray-600 px-3 py-2"
    - if user_signed_in?
      %span.px-2
        = link_to 'Edit', edit_post_path(@post), class: "rounded bg-blue-500 text-blue-200 px-3 py-2"
